
body{
    font-family: georgia,times,serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    max-width: 1440px;
}

h1{
    font-size:3rem;
    line-height: 1.3em;
}

.title{
    color: white;
    text-align: center;
}

.totoroPng{
    width: 200px;
    display: block;
    margin: auto;
}

.containerPosterFilms{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 2px solid black;
    background-color: #394439;
    border-color: #d8d8d8;
    border-radius: 4px;
    padding: 20px;
    max-width: 750px;
}
.containerPosterFilms p,
.containerPosterFilms img{
    flex: 50%
}
.posterFilms{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;  
}

.imgFilms{
    width: 15rem;
}

.descriptionFilms{
    padding-left: 3%;
}

p{
    margin-bottom: 1.6em;
    color: white;
}

.movie-container{
    display: none;
    width: 80%;
    margin:0 auto;
    padding-bottom: 2rem;
}

.header{
    background-color: #333;
    flex: 100%
}

.header a {
    color: white;
    text-decoration: none;
}

.containerLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    background: #3D534B;
    padding-bottom: 2rem;
    width: 100%;
    margin-top: 0;
    padding-top: 3rem;

}

.footer{
    background: #333;
    padding: 1rem 0;
    text-align: center;

}


#vehicles,
#location{
    display: none;
}

.containerAllLocation,
.containerAllVehicles,
#contenedorPadrePeople {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.containerLocation,
.containerVehicles,
.containerPeople{
    width: 250px;
    height: 300px;
    background-color: black;
    margin: 40px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #394439;
    border: 1px solid #d8d8d8;
}

.containerLocation img,
.containerVehicles img,
.containerPeople img {
    width: 150px;
    height: 100px;
    margin: 30px;
    border-radius: 5px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 840px) {
    .containerPosterFilms p,
    .containerPosterFilms img{
    flex: 100%;
    }
    .containerPosterFilms {
        justify-content: center;
        margin: 3%;
    }
}