
body{
    font-family: georgia,times,serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h1{
    font-size:3rem;
    line-height: 1.3em;
}

.title{
    padding-top: 16rem;
    color: white;
}

.containerPosterFilms{
    margin: 5px;
    border: 2px solid black;
    background-color: #394439;
    border-color: #d8d8d8;
    border-radius: 4px;
    display: flex;
    padding: 20px
}

.posterFilms{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;  
}

.imgFilms{
    width: 15rem;
}

.descriptionFilms{
    padding-left: 3%;
}

p{
    margin-bottom: 1.6em;
    color: white;  
    
}

.container{
    width: 80%;
    margin:0 auto;
    padding-bottom: 2rem;
}

.header{
    display: flex;
    background: #333;
    color:white;
    padding: 2rem 0;
    justify-content: center; 
    height: 15%;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.containerLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totoroPng{
    height: 100%;
}

.main{
    background: #3D534B;

}

.footer{
    background: #333;
    padding: 1rem 0;
    text-align: center;
    margin-top: -2rem;
}

.containerPeople{
    height: 322px;
    width: 162px;
    margin: 5px;
    border: 2px solid black;
    background-color: #394439;
    border-color: #d8d8d8;
    border-radius: 4px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.cntImageCharacter{
    height: 92px;
    width: 92px;
    border-radius: 50px;
    border: 1px solid white;
    overflow: hidden;
}

.characterImg{
    height: 100%;
    margin-left: -29%;
}

